<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
		<script type="text/javascript">
            var websocket = null;

            function connect() {
                var wsProtocol = window.location.protocol == "https:" ? "wss" : "ws";
                var wsURI = wsProtocol + '://' + window.location.host + '/kitchensink-pg/contestDetail.xhtml';
                websocket = new WebSocket(wsURI);

                websocket.onopen = function() {
                    document.getElementById("loading").innerText = "Connected to teams' states";
                    fixStates();
                };
                websocket.onmessage = function(event) {
                    console.log("recieved");
                    updateStates(String(event.data));
                };
                websocket.onerror = function(event) {
                    
                };
                websocket.onclose = function() {
                    
                };
            }

            function disconnect() {
                if (websocket !== null) {
                    websocket.close();
                    websocket = null;
                }
                message.setAttribute("class", "message");
                message.value = 'WebSocket closed.';
                // log the event
            }

            function sendMessage(message) {
                if (websocket !== null) {
                    var content = message;
                    websocket.send(content);
                } else {
                    displayMessage('WebSocket connection is not established. Please click the Open Connection button.', 'error');
                }
            }

            function displayMessage(data, style) {
                var message = document.getElementById('loading');
                message.setAttribute("class", style);
                message.value = data;
            }

            function displayStatus(status) {
                var currentStatus = document.getElementById('currentstatus');
                currentStatus.value = status;
            }

            function fixStates(){
                let states = document.getElementsByClassName("hiddenState");
                let realEstates = document.getElementsByClassName("realState");
                var i = 0;
                while(i != realEstates.length){
                    realEstates[i].value = states[i].innerHTML;
                    i++;
                }
                
            }

            function selected(ev){
                let message = ev.target.id + ", " + ev.target.value;
                console.log(message);
                sendMessage(message);
                sendIt(message);
            }

            function sendIt(message){
                var xhttp = new XMLHttpRequest();

                xhttp.open("POST", "/kitchensink-pg/rest/members/WhyTeamChange");
                xhttp.send(message);
            }

            function updateStates(toUpdate){
                var id = "";
                var i = 0;
                var yes = false;
                while(i != toUpdate.length){
                    if(toUpdate[i] == ','){
                      	i++;i++;
                      	yes = true;
                      	break;
                      	
                    }
                    id += toUpdate[i];
                    i++;
                }
				if(!yes){
					return;
				}

				var state = "";
                while(i != toUpdate.length){
                    state += toUpdate[i];
                    i++;
                }
                document.getElementById(id).value = state;
                
                
                
         	}
            
            window.onload = function(){
               	connect();
                };

              

        </script>
		<f:metadata>
			<f:viewParam name="contest_id" value="#{selected}" />
		</f:metadata>
		<h1>Contest</h1>
		<h2>Details for #{contestDetailController.selectedContest.name}</h2>
		<p:messages styleClass="messages" errorClass="invalid"
			infoClass="valid" warnClass="warning" globalOnly="true" />

		<p id="loading">Loading connection</p>
		<h:form id="registeredTeamsForm" rendered="#{contestDetailController.isEnabled(selected)}">
			<p:dataTable id="dtable" var="_team"
				value="#{contestDetailController.selectedContest.teams}"
				rendered="#{not empty contestDetailController.selectedContest.teams}">

				<f:facet name="header">
            Teams' Status
        </f:facet>

				<p:column headerText="Name">
            #{_team.name}
        </p:column>

				<p:column headerText="State">
					<span class="hiddenState" id="hiddenStatus#{_team.id}"
						style="display: none;">#{_team.state}</span>
					<select class="realState" onchange="selected(event);"
						id="#{_team.id}">
						<option value="#{contestDetailController.possibleStates[0]}">#{contestDetailController.possibleStates[0]}</option>
						<option value="#{contestDetailController.possibleStates[1]}">#{contestDetailController.possibleStates[1]}</option>
						<option value="#{contestDetailController.possibleStates[2]}">#{contestDetailController.possibleStates[2]}</option>

					</select>
				</p:column>


			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>