<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
		<h1>Register Team</h1>
		<h:form id="regs">
			<h2>Team Registration</h2>
			<p:panelGrid columns="2">
				<p:outputLabel value="Team Name:" for="name" />
				<p:inputText id="name" value="#{newTeam.name}" />

				<p:outputLabel value="Contest:" for="contest" />
				<p:autoComplete id="contest" value="#{newTeam.contest}"
					dropdown="true"
					completeMethod="#{teamController.availableContests}"
					var="onecontest" itemLabel="#{onecontest.name}"
					itemValue="#{onecontest}" converter="#{contestConverter}" />

				<p:outputLabel value="Team Members:" for="teamMultiSelect" />
				<p:autoComplete id="teamMultiSelect" multiple="true"
					value="#{newTeam.members}" dropdown="true"
					completeMethod="#{teamController.availableMembers}" var="onemember"
					itemLabel="#{onemember.name}" itemValue="#{onemember}"
					converter="#{memberConverter}" />

				<p:outputLabel value="Coach:" for="coach" />
				<p:autoComplete id="coach" value="#{newTeam.coach}"
					converter="#{memberConverter}" dropdown="true" var="onecoach"
					itemLabel="#{onecoach.name}" itemValue="#{onecoach}"
					completeMethod="#{teamController.availableMembers}" />
			</p:panelGrid>

			<p:messages styleClass="messages" errorClass="invalid"
				infoClass="valid" warnClass="warning" globalOnly="true" />
			<p>
				<p:commandButton styleClass="yellow" value="Register Team"
					action="#{teamController.saveTeam}" ajax="true"
					update="@form, :teamForm" />
			</p>
		</h:form>

		<h2>Teams :p</h2>
		<h:panelGroup rendered="#{empty teams}">
			<em>No Registered Teams</em>
		</h:panelGroup>
		<h:form id="teamForm">
			<p:dataTable id="dtable" var="_team" value="#{teams}"
				rendered="#{not empty teams}">

				<f:facet name="header">
				List of Teams
			</f:facet>

				<p:column headerText="Name of Team">
				#{_team.name}
			</p:column>

				<p:column headerText="Coach">
				#{_team.coach.name}
			</p:column>

				<p:column headerText="Contest">
				#{_team.contest.name}
			</p:column>

			</p:dataTable>
		</h:form>
		<p>
			<a href="index.xhtml">Register a Member?</a>
		</p>
		<p>
			<a href="contestRegistration.xhtml">Register a Contest?</a>
		</p>
	</ui:define>
</ui:composition>